
{% load static %}

<div class="top-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 foot" style="text-align: center;">
                <img src="{% static 'images/logo2.png' %}">
                <p style="margin: 15px 0;">Copyright © 2020 All rights reserved by: &nbsp;<img src="{% static 'images/logo2.png' %}" height="20px"></p>
                <div class="ic col-md-4">
                    <a href="https://www.facebook.com/shraddha.bhattarai.399" target="_blank"><i
                            class="fa fa-facebook-square fl"></i></a></div>
                <div class="ic col-md-4">
                    <a href="https://www.instagram.com/shraddha1572017/" target="_blank"><i
                            class="fa fa-instagram fl" target="_blank"></i></a></div>
                <div class="ic col-md-4">
                    <a href="https://www.twitter.com/"><i class="fa fa-twitter-square fl"></i></a></div><br>

                <h1 class="hh">5+ Years Experience</h1>
            </div>



            <div class="col-md-4">
                <div class="fot-nav">
                    <h1>My Pages</h1>
                    <div style="background:#7c7e7f; height:2px; width:15%;"></div>
                    <br>
                    <p>
                        <a href=""> Home</a><br>
                        <a href="{% url 'about' %}">About</a><br>
                        <a href="{% url 'tax_law' %}">Tax Law</a><br>
                        <a href="{% url 'corporate_law' %}">Corporate Law</a><br>
                        <a href="{% url 'legal_updates' %}">Legal Updates</a><br>
                        <a href="{% url 'contact' %}">Contact Us</a><br>
                </div>
            </div>
            <div class="col-md-4 white">
                <h1>My Info</h1>
                <div style="background:#7c7e7f; height:2px; width:15%;"></div>
                <br>
                <p>
                    <a href="mailto:shraddha157@gmail.com"><i class="fa fa-envelope"></i>: shraddha157@gmail.com
                    </a> <br>
                    <i class="fa fa-phone"></i> &nbsp;<a href="tel:+9779802100104" style="text-decoration: none;">:
                        9802100104 </a><br> &nbsp;
                    <i class="fa fa-map-marker"></i>&nbsp; : Sankhamul, New baneshwor, KTM <br>
                </p>
            </div>
        </div>
        
        <button onclick="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-arrow-up" style="padding: 0!important;"> Top</i>
        </button>

        <!-- Footer Ends -->
             
    
                <!-- Additional Scripts starts -->
    
                <script type="text/javascript">
                    //Get the button:
                    mybutton = document.getElementById("myBtn");
    
                    // When the user scrolls down 20px from the top of the document, show the button
                    window.onscroll = function() {
                        scrollFunction()
                    };
    
                    function scrollFunction() {
                        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                            mybutton.style.display = "block";
                        } else {
                            mybutton.style.display = "none";
                        }
                    }
    
                    // When the user clicks on the button, scroll to the top of the document
                    function topFunction() {
                        document.body.scrollTop = 0; // For Safari
                        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                    }
                </script>
            </div>
        </div>        