
{% load static %}

<div data-spy="affix" data-offset-top="50">
    <div class="header">
        <div class="container">
            <div class="row">

                <div class="col-sm-4">
                    <a href="./"><img src="{% static 'images/logo1.png' %}" style="position: absolute; z-index: 1; width: 150px;"></a>
                </div>
                <div class="col-sm-8">
                    <a href="tel:+9779802100104" style="text-decoration:none;">
                        <h2 class="taptocall center-block visible-xs text-center"><i class="fa fa-phone" aria-hidden="true"></i> Tap To Call</h2>
                    </a>

                    <nav id="menu">
                        <label for="tm" id="toggle-menu">Menu <span class="drop-icon">▾</span></label>
                        <input type="checkbox" id="tm">
                        <ul class="main-menu clearfix">
                            <li><a href='{% url "home" %}'>Home</a></li>
                            <li><a href='{% url "about" %}'>About Me</a>
                            </li>
                            <li><a href="#">Services <i class="fa fa-angle-down" aria-hidden="true"></i> <span
                                        class="drop-icon">▾</span> <label title="Toggle Drop-down" class="drop-icon"
                                        for="sm1">▾</label></a>
                                <input type="checkbox" id="sm1">
                                <ul class="sub-menu">

                                    <li><a href="{% url 'corporate_law' %}">Corporate Law</a></li>
                                    <li><a href="{% url 'tax_law' %}">Tax law</a></li>
                                </ul>
                            </li>
                            <li><a href='{% url "legal_updates" %}'>Legal Updates</a></li>
                            <li><a href='{% url "gallery" %}'>Gallery</a></li>
                            <li><a href='{% url "contact" %}'>Contact</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>