{% extends "partials/base.html" %}

{% load static %}

    {% block header %}
    {% include "partials/header.html" %}
    {% endblock header %}
    <!-- About Starts-->


    {% block content %}
    <img src="{% static 'images/small.jpg' %}" class="img-responsive" style="margin: 0 auto; width: 100%;">    
    <div class="page">
        <div class="container">
            <div class="row">
                <div class="inner-cont">
                    <div class="container" style="text-align:center; margin-bottom: 40px;">
                        <h4 class="heading">ABOUT ME</h4>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-justify">
                            I am Shraddha Bhattarai, a licensed advocate by profession, I completed my B.A.(LL.(hons.) degree from one of the top law schools in India and then after worked at Ernst and Young, Bangalore as a Tax and Advisory Consultant. I was leading the tax practice
                            at Gandhi and Associates, a Corporate law firms in the country and am currently I am associated with Ncell Private Limited. <br><br> I was also the council member of US Embassy Youth Council for
                            2017-18. I was selected for the Professional Fellows Program for Governance and Society for October-November 2018 which is the US department of state funded program in DC and Arizona.
                            <br><br> I also worked as a trainer/panelist for NYEF's Women summit for 2018 and 2019. I was invited to be a panelist on the academic symposium on Diplomatic/ Political Relationship that marked the 70 years of bilateral friendship
                            between USA and Nepal where I presented on the topic "Building an inclusive democracy in Nepal to name my few recent involvements.
                            <br><br>





                        </p><br>

                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/s1.jpg' %}" class="img-responsive img-thumbnail center-block">

                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <marquee style="font-size: 20px;
        color: #b99566;"> Contact me for Tax or corporate law service. Visit my legal updates to view the works I have done.
                    </marquee>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
    <!--welcome-->

    <!-- About Ends-->

    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock footer %}
