{% extends "partials/base.html" %}

{% load static %}

    {% block header %}
    {% include "partials/header.html" %}
    {% endblock header %}

    <!-- Service 1 Starts-->

    {% block content %}
    <img src="{% static 'images/small.jpg' %}" class="img-responsive" style="margin: 0 auto; width: 100%;">
    <div class="page">
        <div class="container">
            <div class="row">
                <div class="inner-cont">
                    <div class="container" style="text-align:center; margin-bottom: 40px;">
                        <h4 class="heading">Corporate Law</h4>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-justify">
                            The corporate nature of the modern university is adversely affecting the learning experience for students of landscape architecture. Programs are susceptible to the volatility of the market and the size of classes are undermining the quality of the education.
                            These were some of the sentiments heard at a recent discussion in Melbourne which aimed to explore some of the key issues currently facing landscape architecture education, both within Victoria and more broadly. The event,
                            organized by AILA Cultivate, a sub-committee of the Victorian chapter of AILA, follows a round-table conversation held at the University of Melbourne in 2018 on “The Future Practitioner,” and was catalyzed by appointments of
                            new leadership at two of Victoria’s three landscape architecture programs. The discussion, which took place in mid November, also precedes an imminent AILA discussion paper on the topic that is aiming to summarize issues and
                            opportunities and make recommendations regarding strategic priorities and resourcing requirements.<br> Featured guests to the discussion were Beau Beza, associate head of School, Teaching and Learning
                            at the Deakin University’s School of Architecture and Built Environment; Sidh Sintusingha, senior lecturer in Landscape Architecture at the University of Melbourne; and Katrina Simon, associate dean, Landscape Architecture
                            at RMIT University.<br> Three major interlinked themes emerged on the evening in response to questions jointly posted by AILA Victoria’s Cultivate and Education sub-committees, as well as to questions from the audience.<br>


                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/landscaping.jpg' %}" class="img-responsive img-thumbnail center-block">

                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <marquee style="font-size: 20px; color: #b99566;"> Contact me for Tax or corporate law service. Visit my legal updates to view the works I have done.
                    </marquee>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
    <!--welcome-->

    <!-- Service 1 Ends-->
    <!-- Footer Starts -->

    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock footer %}