{% extends "partials/base.html" %}

{% load static %}

    {% block header %}
    {% include "partials/header.html" %}
    {% endblock header %}


    <!-- gallery Starts-->

    {% block content %}
    <img src="{% static 'images/small.jpg' %}" class="img-responsive" style="margin: 0 auto; width: 100%;">
    <div class="page">

        <div class="container">

            <div class="row">
                <div class="page-content">
                    <div class="inner-cont">
                        <div class="container" style="text-align:center">
                            <h4 class="heading" style="margin: 20px 0; color:#b99566;font-family: 'Questrial', sans-serif; font-weight: bold;">
                                Our Gallery</h4>
                        </div><br>

                        <div id="gallery" style="display:none;">
                            {% for gallery in gallery_list %}
                              <a href="#">

                                <img alt="Shraddha Bhattarai" src="{{gallery.image.url}}" data-image="{{gallery.image.url}}" data-description="" style="display:none">

                            </a>  
                            {% endfor %}
                        </div>

                        <br>
                        <div class="clearfix"></div>
                        <hr>
                        <marquee style="font-size: 20px; color: #b99566;"> Contact me for Tax or corporate law service. Visit my legal updates to view the works I have done.
                        </marquee>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- gallery Ends-->
    <!-- Footer Starts -->

    {% endblock content %}
    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock footer %}