{% extends "partials/base.html" %}

{% load static %}

    {% block header %}
    {% include "partials/header.html" %}
    {% endblock header %}

    <!-- legal updates Starts-->

    {% block content %}
    <div class="page">
        <div class="container">

            <div class="inner-cont ll">

                <!--Legal Updates Strat-->
                <div id="">
                    <div class="row">
                        <div class="container" style="text-align:center; margin-bottom: 40px;">
                            <h4 class="heading">Legal Updates</h4>
                        </div>

                        <div class="col-md-4">
                            <div class="ba-box" data-aos="fade-up">
                                <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                <hr>
                                <p class="pbs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.....</p>
                                <a href="./article1"><button class="button11">Read More</button></a>
                            </div>



                        </div>

                        <div class="col-md-4">
                            <div class="ba-box" data-aos="fade-up">
                                <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                <hr>
                                <p class="pbs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.....</p>
                                <a href="./article1"><button class="button11">Read More</button></a>

                            </div>



                        </div>

                        <div class="col-md-4">
                            <div class="ba-box" data-aos="fade-up">
                                <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                <hr>
                                <p class="pbs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.....</p>
                                <a href="./article1"><button class="button11">Read More</button></a>
                            </div>



                        </div>



                    </div>

                    <div class="row" data-aos="fade-up">

                        <div class="container" style="text-align:center; margin-bottom: 40px;">
                        </div>

                        <div class="col-md-4">
                            <div class="ba-box" data-aos="fade-up">
                                <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                <hr>

                                <p class="pbs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.....</p>
                                <a href="./article1"><button class="button11">Read More</button></a>
                            </div>



                        </div>

                        <div class="col-md-4">
                            <div class="ba-box" data-aos="fade-up">
                                <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                <hr>
                                <p class="pbs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.....</p>
                                <a href="./article1"><button class="button11">Read More</button></a>

                            </div>



                        </div>

                        <div class="col-md-4">
                            <div class="ba-box" data-aos="fade-up">
                                <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                <hr>
                                <p class="pbs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.....</p>
                                <a href="./article1"><button class="button11">Read More</button></a>
                            </div>



                        </div>
                    </div>
                </div>


                <div class="row" id="events">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="round-main">
                            <div class="col-xs-3">
                                <a href="#">
                                    <div class="round">
                                        <div class="rouc">1</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-3">
                                <a href="#">
                                    <div class="round">
                                        <div class="rouc">2</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-3">
                                <a href="#">
                                    <div class="round">
                                        <div class="rouc">3</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-3">
                                <a href="#">
                                    <div class="round">
                                        <div class="rouc"><i class="fa fa-angle-right" style="font-size: 18px;"></i></div>
                                    </div>
                                </a>
                            </div>

                        </div>


                    </div>
                    <div class="col-md-4"></div>
                </div>
                <hr>

                <!--Legal Updates end-->


                <!--events start-->

                <div id="">
                    <div class="row">
                        <div class="container" style="text-align:center; margin-bottom: 40px;">
                            <h4 class="heading">My Events</h4>
                        </div>

                        <div class="col-md-4">
                            <div class="bb-box" data-aos="fade-up">
                                <div class="img-fixed">
                                    <img src="{% static 'images/b1.jpg' %}" class="img-responsive">
                                </div>
                                <div class="contain">
                                    <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                    <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                    <hr>
                                    <p class="pbs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book....</p>
                                    <a href="./article2"><button class="button11">Read More</button></a>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="bb-box" data-aos="fade-up">
                                <div class="img-fixed">
                                    <img src="{% static 'images/landscaping.jpg' %}" class="img-responsive">
                                </div>
                                <div class="contain">
                                    <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                    <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                    <hr>
                                    <p class="pbs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book....</p>
                                    <a href="./article2"><button class="button11">Read More</button></a>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="bb-box" data-aos="fade-up">
                                <div class="img-fixed">
                                    <img src="{% static 'images/small1.jpg' %}" class="img-responsive">
                                </div>
                                <div class="contain">
                                    <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                    <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                    <hr>
                                    <p class="pbs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book....</p>
                                    <a href="./article2"><button class="button11">Read More</button></a>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="row">

                        <div class="container" style="text-align:center; margin-bottom: 40px;">
                        </div>

                        <div class="col-md-4">
                            <div class="bb-box" data-aos="fade-up">
                                <div class="img-fixed">
                                    <img src="{% static 'images/landscaping.jpg' %}" class="img-responsive">
                                </div>
                                <div class="contain">
                                    <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                    <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                    <hr>
                                    <p class="pbs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book....</p>
                                    <a href="./article2"><button class="button11">Read More</button></a>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="bb-box" data-aos="fade-up">
                                <div class="img-fixed">
                                    <img src="{% static 'images/landscaping.jpg' %}" class="img-responsive">
                                </div>
                                <div class="contain">
                                    <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                    <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                    <hr>
                                    <p class="pbs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book....</p>
                                    <a href="./article2"><button class="button11">Read More</button></a>
                                </div>
                            </div>
                        </div>




                        <div class="col-md-4">
                            <div class="bb-box" data-aos="fade-up">
                                <div class="img-fixed">
                                    <img src="{% static 'images/landscaping.jpg' %}" class="img-responsive">
                                </div>
                                <div class="contain">
                                    <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                    <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                    <hr>
                                    <p class="pbs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book....</p>
                                    <a href="./article2"><button class="button11">Read More</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" id="media">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="round-main">
                            <div class="col-xs-3">
                                <a href="#">
                                    <div class="round">
                                        <div class="rouc">1</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-3">
                                <a href="#">
                                    <div class="round">
                                        <div class="rouc">2</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-3">
                                <a href="#">
                                    <div class="round">
                                        <div class="rouc">3</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-3">
                                <a href="#">
                                    <div class="round">
                                        <div class="rouc"><i class="fa fa-angle-right" style="font-size: 18px;"></i></div>
                                    </div>
                                </a>
                            </div>

                        </div>


                    </div>
                    <div class="col-md-4"></div>
                </div>
                <hr>

                <div id="">
                    <div class="row">
                        <div class="container" style="text-align:center; margin-bottom: 40px;">
                            <h4 class="heading">Media Features</h4>
                        </div>

                        <div class="col-md-4">
                            <div class="bb-box" data-aos="fade-up">
                                <div class="img-fixed">
                                    <img src="{% static 'images/b1.jpg' %}" class="img-responsive">
                                </div>
                                <div class="contain">
                                    <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                    <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                    <hr>

                                    <a href="#" target="_blank"><button class="button11">View Article</button></a>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="bb-box" data-aos="fade-up">
                                <div class="img-fixed">
                                    <img src="{% static 'images/himalayan.jpg' %}" class="img-responsive">
                                </div>
                                <div class="contain">
                                    <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                    <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                    <hr>

                                    <a href="#" target="_blank"><button class="button11">View Article</button></a>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="bb-box" data-aos="fade-up">
                                <div class="img-fixed">
                                    <img src="{% static 'images/small1.jpg' %}" class="img-responsive">
                                </div>
                                <div class="contain">
                                    <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                    <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                    <hr>

                                    <a href="#" target="_blank"><button class="button11">View Article</button></a>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="row">

                        <div class="container" style="text-align:center; margin-bottom: 40px;">
                        </div>

                        <div class="col-md-4">
                            <div class="bb-box" data-aos="fade-up">
                                <div class="img-fixed">
                                    <img src="{% static 'images/himalayan.jpg' %}" class="img-responsive">
                                </div>
                                <div class="contain">
                                    <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                    <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                    <hr>

                                    <a href="#" target="_blank"><button class="button11">View Article</button></a>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="bb-box" data-aos="fade-up">
                                <div class="img-fixed">
                                    <img src="{% static 'images/himalayan.jpg' %}" class="img-responsive">
                                </div>
                                <div class="contain">
                                    <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                    <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                    <hr>

                                    <a href="#" target="_blank"><button class="button11">View Article</button></a>
                                </div>
                            </div>
                        </div>




                        <div class="col-md-4">
                            <div class="bb-box" data-aos="fade-up">
                                <div class="img-fixed">
                                    <img src="{% static 'images/himalayan.jpg' %}" class="img-responsive">
                                </div>
                                <div class="contain">
                                    <h4 style="font-size: 23px;">Lorem Ipsum Dolor</h4>
                                    <p class="pas"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;17 January, 2020<br></p>
                                    <hr>

                                    <a href="#" target="_blank"><button class="button11">View Article</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="round-main">
                            <div class="col-xs-3">
                                <a href="#">
                                    <div class="round">
                                        <div class="rouc">1</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-3">
                                <a href="#">
                                    <div class="round">
                                        <div class="rouc">2</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-3">
                                <a href="#">
                                    <div class="round">
                                        <div class="rouc">3</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-3">
                                <a href="#">
                                    <div class="round">
                                        <div class="rouc"><i class="fa fa-angle-right" style="font-size: 18px;"></i></div>
                                    </div>
                                </a>
                            </div>

                        </div>


                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>



            <!--events end-->
            <div class="navbar">
                <a href="#">Legal Updates</a>
                <a href="#events">My Events</a>
                <a href="#media">Media Features</a>
            </div>










        </div>
    </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(window).scroll(function() {
            if ($(this).scrollTop() > 3270) {
                $(".navbar").addClass("red")
            } else {
                $(".navbar").removeClass("red")
            }
        })
    </script>

    {% endblock content %}


    <!-- legal updates Ends-->
    <!-- Footer Starts -->


    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock footer %}